$def with (films, film, scenes, str, filmfolder, counttakes, countshots, shots, scene, takes, shot, take, checkvideo,randhash)
$ video = ''
$if take != None:
    <h1>$film | scene $scene | shot $shot | take $take</h1>
    $ video = '/'+filmfolder + film + '/scene' + str(scene).zfill(3) + '/shot' + str(shot).zfill(3) + '/take' + str(take).zfill(3) + '.mp4'
$elif shot != None:
    <h1>$film | scene $scene | shot $shot</h1>
    $ video = '/'+filmfolder + film + '/scene' + str(scene).zfill(3) + '/shot' + str(shot).zfill(3) + '/take' + str(takes).zfill(3) + '.mp4'
    $ take = takes
$elif scene != None:
    <h1>$film | scene $scene</h1>
    $ video = '/'+filmfolder + film + '/scene' + str(scene).zfill(3) + '/scene.mp4'
$elif film != '':
    <h1>$film</h1>
    $ video = '/'+filmfolder + film + '/' + film + '.mp4'

$if video != '':
    <br>
    <h3><a href="javascript:history.back()">Go Back</a></h3>
    <br>
    $ picture = checkvideo(video,filmfolder,film,scene,shot,take)
    $if picture[1] == 'video':
        <video width="80%" controls>
        <source src="$video?$randhash" style="width:80%; max-width:500px;"  type="video/mp4">
        Your brower is caput
        </video>
    $elif picture[0] != '':
        <img style="width:80%;" src="$picture[0]?$randhash"/>
    $elif picture[1] == '':
        <pre>video not rendered</pre>
        <a href="">render now!</a>
        <br>
$else:
    <br>
    <a href="/c/">camera control</a>

$if film == '':
    <h1>FILMS</h1>
    $for i in films:
        <a href="$i"><h2>$i</h2></a>
<br>

$ t=0

$if shot != None:
    $for t in range(takes):
        $ thumbnail_url = '/'+filmfolder + film + '/scene' + str(scene).zfill(3) + '/shot' + str(shot).zfill(3) + '/take' + str(t+1).zfill(3) + '.jpeg'
        <pre>take $str(t+1)</pre>
        <a href="?scene=$scene&shot=$shot&take=${str(t+1)}"><img style="vertical-align:middle; width:80%; max-width:500px;"  src="$thumbnail_url?$randhash"/></a><br>
$elif scene != None:
    $for s in range(shots)
        <pre>shot $str(s+1)</pre>
        $ t = countshots(film, filmfolder, scene)
        $ p = counttakes(film, filmfolder, scene, s+1)
        $ thumbnail_url = '/'+filmfolder + film + '/scene' + str(scene).zfill(3) + '/shot' + str(s+1).zfill(3) + '/take' + str(p).zfill(3) + '.jpeg'
        <a href="?scene=$scene&shot=${str(s+1)}"><img style="vertical-align:middle; width:80%; max-width:500px;" src="$thumbnail_url?$randhash"/></a><br>
$else:
    $for s in range(scenes):
        <pre>scene $str(s+1)</pre>
        $ t = counttakes(film, filmfolder, s+1, 1)
        $ thumbnail_url = '/'+filmfolder + film + '/scene' + str(s+1).zfill(3) + '/shot001/take' + str(t).zfill(3) + '.jpeg'
        <a href="?scene=${str(s+1)}"><img style="vertical-align:middle; width:80%; max-width:500px;" src="$thumbnail_url?$randhash"/></a><br>
