$def with (films, cameras, menu, selected,name,scene,shot,take,str,randhash,thumb,vumetermessage,func,filmfolder)

<script>
function Get(yourUrl){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        return Httpreq.responseText;          
}
(function($$)
{
    $$(document).ready(function()
    {
        var refreshtime = 1000;
        var oldrefreshtime = 100;
        idleTime = 0;
        //Increment the idle time counter every second.
        var idleInterval = setInterval(timerIncrement, 1000);
        function timerIncrement()
        {
            idleTime++;
            if (idleTime > 1)
            {
                refreshtime = 1000;
            }
            if (oldrefreshtime != refreshtime)
            {
                refreshtime = 500;
            }
            else
            {
                refreshtime = 100;
            }
            oldrefreshtime = refreshtime;
        }

        $$.ajaxSetup(
        {
            cache: false,
            beforeSend: function() {
                $$('#content').hide();
                $$('#loading').show();
            },
            complete: function() {
                $$('#loading').hide();
                $$('#content').show();
            },
            success: function() {
                $$('#loading').hide();
                $$('#content').show();
            }
        });

        var myFunction = function(){
                refresh();
                console.log(refreshtime);
                clearInterval(interval);
                interval = setInterval(myFunction, refreshtime);
        }
        var interval = setInterval(myFunction, refreshtime);
    });

    function refresh(){
        var $$container = $$("#menu2");
        $$container.load('/static/menu.html');
        $$.ajax({
            method: "GET",
            type: "Content-type",
            url:"/api",
            success: function(result) {
            },
            error: function(result) {
            console.log('error', result);
            }
        })
    }
    $$(this).on('keydown', function (event) {
        idleTime = 0;
        refreshtime = 10;
    });
})(jQuery);

$$(document).on('keydown', function (event) {
    if (event.which == 37) {
        $$('#LEFT').trigger('click');
    } else if (event.which == 39) {
        $$('#RIGHT').trigger('click');
    } else if (event.which == 38) {
        $$('#UP').trigger('click');
    } else if (event.which == 40) {
        $$('#DOWN').trigger('click');
    } else if (event.which == 33) {
        $$('#RECORD').trigger('click');
    } else if (event.which == 32) {
        $$('#RECORD').trigger('click');
    } else if (event.which == 34) {
        $$('#RETAKE').trigger('click');
    } else if (event.which == 9) {
        $$('#VIEW').trigger('click');
    } else if (event.which == 46) {
        $$('#DELETE').trigger('click');
    } else if (event.which == 13) {
        $$('#MIDDLE').trigger('click');
    }
});
</script>
<input></input>
connected 
<pre>use keyboard to control</pre>
$for i in cameras:
    $i
<br>
<div id="controls" style="display:none"> >
<a id="VIEW" href="?func=view">VIEW</a> <a id="UP" href="?func=up">__UP__</a> <a id="RECORD" href="?func=record">RECORD</a><br>
<a id="LEFT" href="?func=left">LEFT</a> <a id="MIDDLE" href="?func=middle">MIDDLE</a> <a id="RIGHT" href="?func=right">RIGHT</a><br>
<a id="DELETE" href="?func=delete">DELETE</a> <a id="DOWN" href="?func=down">DOWN</a> <a id="RETAKE" href="?func=retake">RETAKE</a><br>
<a href="?func=picture">PICTURE</a>
<a href="?func=search">SEARCH</a>
</div>

<div id="menu2" style="margin:0 auto; width:99%" ></div>
<div id="menu" style="margin:0 auto; width:99%">
</div>
$if thumb != '':
    $ picture= '/'+filmfolder + name + "/scene" + str(scene).zfill(3) + "/shot" + str(shot).zfill(3) + "/picture" + str(take).zfill(3) + ".jpeg"
$else:
    $ picture= '/'+filmfolder + name + "/scene" + str(scene).zfill(3) + "/shot" + str(shot).zfill(3) + "/take" + str(take).zfill(3) + ".jpeg"


$ take_link='/'+filmfolder + name + "/scene" + str(scene).zfill(3) + "/shot" + str(shot).zfill(3) + "/take" + str(take).zfill(3) + ".mp4"
$ scene_link='/'+filmfolder + name + "/scene" + str(scene).zfill(3) + "/scene.mp4"
$ film_link='/'+filmfolder + name + "/" +name+ ".mp4"
$if thumb != '':
    $if selected == 0:
        <a href='$film_link'><img width="80%" src="$picture?$randhash"/></a><br>
    $elif selected == 1:
        <a href='$scene_link'><img width="80%" src="$picture?$randhash"/></a><br>
    $elif selected > 1:
        <a href='$take_link'><img width="80%" src="$picture?$randhash"/></a><br>
    <br>

<script>
$$('#LEFT').on('click', function () {
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=left",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#RIGHT').on('click', function () {
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=right",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#DOWN').on('click', function () {
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=down",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#UP').on('click', function () {
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=up",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#RECORD').on('click', function () { 
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=record",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#RETAKE').on('click', function () { 
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=retake",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#DELETE').on('click', function () { 
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=delete",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#VIEW').on('click', function () { 
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=view",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});
$$('#MIDDLE').on('click', function () { 
    $$.ajax({
    method: "GET",
    type: "Content-type",
    url:"/api?func=middle",
    success: function(result) {
    },
    error: function(result) {
    console.log('error', result);
    }
})
});

</script>

